vllm==0.8.5.post1
docling==2.33.0
docling-core==2.31.1
docling-ibm-models==3.4.3
docling-parse==4.0.1
faiss-cpu==1.11.0
gradio==5.30.0
openai==1.81.0
transformers==4.51.3
torch==2.6.0
sentence-transformers==4.1.0
langchain==0.3.25
langchain-core==0.3.60
langchain-community==0.3.24
fastapi==0.115.12
uvicorn==0.34.2
pandas==2.2.3
scikit-learn==1.6.1
tqdm==4.67.1
huggingface-hub==0.30.2
numpy<2.0
protobuf<3.21
